@font-face {
    font-family: "bison";
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/bison.woff2') format('woff2'),
        url('../fonts/bison.woff') format('woff');
    font-display: swap;
}

